# Defaults.
username: {{ api_user }}
use_token: False
verbose: False
certificate:
format: human
color: True
host: http://awx1.neeaut.netams1.netsys.tmcs
description_on: False
verify_ssl: False
oauth_token:
password: {{ api_password }}
